<header>
  <h1>RSP-GAME</h1>
  <ul>
    <li><a href="/">top page</a></li>
    <% if (locals.isLoggedIn) { %>
      <li><a href="/logout">Log out</a></li>
    <% } else { %>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
    <% } %>
  </ul>
  <p>User: <%= locals.username %></p>
</header>