<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>rsp-game</title>
  </head>
  <body>
    <header>
      <h1>rsp-game</h1>
    </header>
    <div class="container">
      <div>Your room: <span class="room"><%= roomNumber %></span></div>
      <p>Please select your hand</p>
      <div>
        <button class="rock hand-button" onclick="disableButton();">
          <img src="/image/rock.png" alt="rock.png">Rock
        </button>
        <button class="scissors hand-button" onclick="disableButton();">
          <img src="/image/scissors.png" alt="scissors.png">Scissors
        </button>
        <button class="paper hand-button" onclick="disableButton();">
          <img src="/image/paper.png" alt="paper.png">Paper
        </button>
      </div>
      <div>Room status: <span class="room-status"></span></div>
      <div class="player result-info"></div>
      <div class="player-hands result-info"></div>
      <div class="your-result result-info"></div>
      <img class="your-result-image" src="" alt="DRAW or LOSE or WIN"/>
      <button class="next-game" onclick="resetPage();">Next game</button>
    </div>
    <footer>
      <a href="/">Back to the title</a>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      const room = document.querySelector(".room").innerHTML;
      socket.emit('join-room', room);
      
      const HANDS = ["Rock", "Scissors", "Paper"];

      const rock = document.querySelector(".rock");
      const scissors = document.querySelector(".scissors");
      const paper = document.querySelector(".paper");
      const handButton = document.querySelectorAll(".hand-button");

      const roomStatus = document.querySelector(".room-status");
      const playerHands = document.querySelector(".player-hands");
      const yourResult = document.querySelector(".your-result");
      const resultInfo = document.querySelectorAll(".result-info");
      const yourResultImage = document.querySelector(".your-result-image");
      const nextGame = document.querySelector(".next-game");

      rock.addEventListener("click", () => {
        document.querySelector(".player").innerHTML = `You selected: ${HANDS[0]}`;
        socket.emit("player-select", [HANDS[0], room]);
      });
      scissors.addEventListener("click", () => {
        document.querySelector(".player").innerHTML = `You selected: ${HANDS[1]}`; 
        socket.emit("player-select", [HANDS[1], room]);
      });
      paper.addEventListener("click", () => {
        document.querySelector(".player").innerHTML = `You selected: ${HANDS[2]}`;
        socket.emit("player-select", [HANDS[2], room]);
      });

      const disableButton = () => {
        handButton.forEach(elm => elm.disabled = true);
      };
      
      const resetPage = () => {
        handButton.forEach(elm => elm.disabled = false);
        resultInfo.forEach(elm => elm.innerHTML = "");
        yourResultImage.style.visibility = "hidden";
        nextGame.style.visibility = "hidden";
        socket.emit('next-game', room);
      };

      socket.on("room-status", (msg) => {
        roomStatus.innerHTML = msg;
      });
      
      socket.on("matchResult", (res) => {
        yourResult.innerHTML = `Your result: <span>${res.result}</span>`;
        // 例: 1番目に入室した人はplayerHands[0]だからPlayer1になる
        playerHands.innerHTML = res.playerHands.map((hand, idx) => {
          return `Player${idx + 1}'s hand: ${hand}`;
        }).join("<br />");
        if (res.result === "DRAW") yourResultImage.src = "/image/draw.png";
        if (res.result === "LOSE") yourResultImage.src = "/image/lose.png";
        if (res.result === "WIN") yourResultImage.src = "/image/win.png";
        yourResultImage.style.visibility = "visible";
        nextGame.style.visibility = "visible";
      });
      //TODO: 再戦可能にする => Next gameで再戦可能
      //FIXME: ページリロード時の処理
    </script>
  </body>
</html>
