<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSP-GAME</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- header -->
  <%- include('header') %>
  <h2>Log in</h2>
  <% if (errorMessages.length > 0) { %>
    <ul>
      <% errorMessages.forEach(errorMessage => { %>
        <li><%= errorMessage %></li>
      <% }) %>
    </ul>
  <% } %>
  <form action="/login" method="post">
    <div class="set-username">
      <label>Username</label>
      <input type="text" name="username" value="" maxlength="8"
        placeholder="8 characters or less" class="username" />
    </div>
    <div class="set-account-password">
      <label>Account password</label>
      <input type="password" name="accountPassword" value="" minlength="4"
        maxlength="16" placeholder="between 4-16 characters" class="account-password" />
    </div>
    <button class="log-in" disabled>Log in</button>
    <p>
      <div>* Cannot contain these characters: <, >, &, ', " and /</div>
    </p>
  </form>
</body>
<script>
  const username = document.querySelector(".username");
  const accountPassword = document.querySelector(".account-password");
  const logIn = document.querySelector(".log-in");

  const checkInputValue = () => {
    if (username.value && accountPassword.value.length > 3) {
      logIn.disabled = false;
    } else {
      logIn.disabled = true;
    }
  };

  username.addEventListener("input", () => checkInputValue());
  accountPassword.addEventListener("input", () => checkInputValue());
</script>
</html>