<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RSP-GAME</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- header -->
  <%- include('header') %>
  <h2>Sign up</h2>
  <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>
  <form action="/signup" method="post">
    <div class="set-username">
      <label>Username</label>
      <input type="text" name="username" value="" maxlength="8"
        placeholder="8 characters or less" class="username" />
    </div>
    <div class="set-account-password">
      <label>Account password</label>
      <input type="password" name="accountPassword" value="" minlength="4"
        maxlength="16" placeholder="between 4-16 characters" class="account-password" />
    </div>
    <button class="sign-up" disabled>Sign up</button>
    <p>
      <div>* Cannot contain these characters: <, >, &, ', " and /</div>
    </p>
  </form>
</body>
<script>
  const username = document.querySelector(".username");
  const accountPassword = document.querySelector(".account-password");
  const signUp = document.querySelector(".sign-up");

  checkInputValue = () => {
    if (username.value) {
      if (accountPassword.value.length > 3) {
        signUp.disabled = false;
        return;
      }
    }
    signUp.disabled = true;
  };

  username.addEventListener("input", () => checkInputValue());
  accountPassword.addEventListener("input", () => checkInputValue());
</script>
</html>