<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>rsp-game</title>
</head>
<body>
  <header>
    <h1>rsp-game</h1>
  </header>
  <div class="main">
    <p>Welcome to my page</p>
    <p>Select a room</p>
    <a href="/index/1" class="room1">room1</a>
    <a href="/index/2" class="room2">room2</a>
    <a href="/index/3" class="room3">room3</a>
    <div class="image-rsp">
      <img src="/image/rsp.png" alt="rsp.png" width="200" height="200" />
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>