<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>rsp-game</title>
</head>
<body>
  <header>
    <h1>rsp-game</h1>
  </header>
  <div class="main">
    <p>Welcome to my page</p>
    <p>Select a room</p>
    <ul>
      <% numberOfPlayers.forEach((elm, idx) => { %>
        <li>
          <a href="/index/<%= idx + 1 %>" class="room<%= idx + 1 %>">Join room<%= idx + 1 %></a>
          <div>players: <%= elm %></div>
        </li>
      <% }) %>
    </ul>
    <div class="image-rsp">
      <img src="/image/rsp.png" alt="rsp.png" width="200" height="200" />
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>