<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>rsp-game</title>
</head>
<body>
  <header>
    <h1>rsp-game</h1>
  </header>
  <div class="main">
    <p>Welcome to my page</p>
    <p>Select a room</p>
    <form action="/index" method="POST">
      <% numberOfPlayers.forEach((elm, idx) => { %>
        <li>
          <button type="submit" name="room" value="<%= idx + 1 %>" class="room-button">
            Join room<%= idx + 1 %>
          </button>
          <div>Players: <%= elm %></div>
        </li>
      <% }) %>
      <div class="input-nickname">
        <label>Nickname</label>
        <input type="text" name="nickname" value="" class="nickname" />
      </div>
    </form>
    <div class="image-rsp">
      <img src="/image/rsp.png" alt="rsp.png" width="200" height="200" />
    </div>
  </div>
  <footer>
  </footer>
  <script>
    const roomButton = document.querySelectorAll(".room-button");
    const nickname = document.querySelector(".nickname");

    nickname.addEventListener("input", () => {
      if (nickname.value) {
        roomButton.forEach(elm => elm.disabled = false);
      } else {
        roomButton.forEach(elm => elm.disabled = true);
      }
    });
  </script>
</body>
</html>