/* all */
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

/* header */


/* top.ejs / main */
.room-access {
  display: inline-block;
}

.set-nickname {
  display: flex;
  margin-top: 15px;
}

.nickname {
  margin: 0 0 0 10px;
}

.set-password {
  display: flex;
}

.password-checkbox {
	transform: scale(1.5);
  margin: 0 10px 0 10px;
}

.password {
  visibility: hidden;
}

.image-rsp {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* signup.ejs */
.set-username {
  display: flex;
  margin-top: 15px;
}

.username {
  margin: 0 0 0 10px;
}

.set-account-password {
  display: flex;
}

.account-password {
  margin: 0 0 0 10px;
}

/* index.ejs / main */
button img {
  width: 30px;
  height: 30px;
}

.rock {
  background-color: #FF9999;
}

.scissors {
  background-color: #FFFF77;
}

.paper {
  background-color: #A4C6FF;
}

.your-result {
  color: maroon;
}

.your-result > span {
  font-size: 20px;
}

.your-result-image {
  display: block;
  visibility: hidden;
  width: 70px;
  height: 70px;
}

.next-game {
  visibility: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  background-color: yellowgreen;
}

/* footer */